/* RESET */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
  outline: none;
}

/* ANIMATIONS */
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* BASE */
.app {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  height: 100svh;
  width: 100vw;
}

.app_container {
  height: calc(100vh - 55px);
  display: flex;
}

.header {
  height: 55px;
  background-image: linear-gradient(to right, #18a0be, #622db9);
  display: flex;
}

.logo {
  align-self: center;
  margin-left: 20px;
  margin-right: 30px;
  animation-duration: 0.8s;
  animation-name: fade-in-from-top;
}

.dd-toggle {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 13px;
  cursor: pointer;
  transition: all 0.4s;
}
.dd-toggle:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:nth-of-type(4) {
  margin-left: auto;
}

.dd-toggle:last-child {
  display: flex;
  align-items: center;
}

.dd-toggle__img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 7px;
}

.dd-toggle__span {
  height: 100%;
  text-align: center;
}

.sidebar {
  background-color: #10171a;
  width: 75px;
  display: flex;
  flex-direction: column;
}

.menu {
}

.menu__button {
  animation-duration: 0.7s;
  animation-name: fade-in-from-left;
  padding: 20px 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.menu__button:hover,
.menu__button:focus {
  background-color: #2b363b;
  color: #fff;
  cursor: pointer;
}

.menu__button--active {
  background-color: #2b363b;
  color: #fff;
  position: relative;
}

.menu__button--active::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #375bb6;
  position: absolute;
  left: 0;
  top: 0;
}

.menu__icon {
  font-size: 20px;
  margin-bottom: 2px;
}
.menu__text {
  font-weight: 500;
  font-size: 12px;
}

.footer {
  margin-top: auto;
  margin-bottom: 60px;
  transform: rotate(-90deg);
}

.copyright {
  color: rgba(255, 255, 255, 0.15);
  font-size: 12px;
  white-space: nowrap;
}

.panel {
  background-color: #2b363c;
  width: 350px;
  padding: 15px 31px;
}

.panel__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4b5155;
  padding-bottom: 12px;
}

.first-heading {
  font-size: 18px;
  font-weight: 400;
}

.panel__collapse-icon {
  color: #6b7276;
  cursor: pointer;
}

.panel__images {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 25px 0;
}

.panel__img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 7px;
  transition: all 0.2s;
  animation: fadein 1s;
}

.panel__img:nth-child(2) {
  animation: fadein 1s 0.1s backwards;
}

.panel__img:nth-child(3) {
  animation: fadein 1s 0.2s backwards;
}

.panel__img:nth-child(4) {
  animation: fadein 1s 0.3s backwards;
}

.panel__img:nth-child(5) {
  animation: fadein 1s 0.4s backwards;
}

.panel__img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.panel__btn {
  background-color: #333e44;
  cursor: pointer;
  width: 140px;
  height: 140px;
  border-radius: 7px;
}

.panel__btn:hover,
.panel__btn:focus {
  background-color: #404c52;
  transition: all 0.2s;
}

.panel__upload-icon {
  font-size: 25px;
  color: #21292d;
}

.main {
  background-color: #edf1f3;
  flex: 1;
}

.info-bar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #d6dde1;
  padding: 0 30px;
}

.breadcrumbs {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.breadcrumbs__link {
  color: #a6adb1;
  text-decoration: none;
}

.breadcrumbs__icon {
  color: #a6adb1;
  margin: 0 13px;
}

.breadcrumbs__name {
  color: #2e3335;
  font-weight: 500;
}

.button {
  background-color: #375bb6;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 20px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 20px;
  transition: all 0.4s;
}
.button:hover {
  background-color: #26438d;
}
