body {
  background-color: whitesmoke;
}

.main-container {
  border: 2px dashed rgb(11, 137, 159);
  width: 99vw;
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 200px;
  height: 300px;
  border: 2px solid rgb(85, 0, 255);
}
