/* RESET */
* {
  margin: 0;
  padding: 0;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
}

/* BASE */
.app {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  height: 100svh;
  width: 100vw;
}

/* STYLES */
.header {
  display: flex
  background-image: linear-gradient(to right, #18a0be, #622db9);
}

.logo {
}

.dd-toggle {
}

.dd-toggle__icon {
}

.dd-toggle__img {
  height: 30px;
  width: 30px;
}

.dd-toggle__span {
}
