/* RESET */
* {
  margin: 0;
  padding: 0;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
}

/* BASE */
.app {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  height: 100svh;
  width: 100vw;
}

/* STYLES */
.header {
  height: 55px;
  background-image: linear-gradient(to right, #18a0be, #622db9);
  display: flex;
}

.logo {
  align-self: center;
  margin-left: 20px;
  margin-right: 30px;
}

.dd-toggle {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 13px;
  cursor: pointer;
  transition: all 0.4s;
}

.dd-toggle:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:nth-of-type(4) {
  margin-left: auto;
}

.dd-toggle__icon {
}

.dd-toggle__img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 7px;
}

.dd-toggle__span {
  height: 100%;
  text-align: center;
}
